<div
  data-testid="pokemonCard"
  class="pokemonItem card d-flex flex-column justify-content-between align-items-center w-100"
  [ngClass]="{ card: isCard }"
>
  <div
    class="pokemonItem-header d-flex justify-content-between w-100 align-items-center"
  >
    <span class="badge text-bg-warning fs-6 pt-2"
      >#{{ pokemon.snapshot().number }}</span
    >
    <div class="fs-4">
      {{ pokemon.snapshot().name | titlecase }}
    </div>
    <div class="caughtPokemonImg" *ngIf="isCard">
      <img
        data-testid="caughtPokemon"
        *ngIf="isCaughtPokemon"
        class="caughtPokemonImg"
        alt="Pokémon capturé !"
        src="https://img.icons8.com/fluency/48/000000/pokeball.png"
      />
    </div>
  </div>

  <img
    class="avatar my-3"
    [src]="getImgSrc(pokemon.snapshot().number)"
    alt="{{ pokemon.snapshot().name }}"
  />

  <div class="d-flex justify-content-between align-items-center w-100">
    <div>
      <span *ngFor="let pokemonType of currentPokemonTypes">
        <i-bs
          *ngIf="pokemonType.logo"
          [ngStyle]="{ color: pokemonType.color }"
          [name]="pokemonType.logo"
        ></i-bs>
      </span>
    </div>
    <a
      *ngIf="!isAddToMissionActive"
      [routerLink]="['/pokedex', pokemon.snapshot().number]"
      class="btn btn-primary"
      >more</a
    >
    <button
      *ngIf="isAddToMissionActive"
      class="btn btn-primary"
      (click)="onAddPokemonBtnClick()"
    >
      Add reward
    </button>
  </div>
</div>
