<div class="missions">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-md-6 col-xl-4 p-2"
        *ngFor="let mission of missions"
      >
        <div class="card">
          <div class="d-flex align-items-stretch p-4">
            <pokemon-detail-miniature
              *ngIf="mission.rewards[0]"
              [pokemonNumber]="mission.rewards[0].number"
              >{{ mission.rewards[0].name }}</pokemon-detail-miniature
            >

            <div class="vr mx-4"></div>

            <div class="detail w-100">
              <div class="d-flex flex-column justify-content-between h-100">
                <div class="top">
                  <div class="lh-1 fs-5 mt-1">{{ mission.name }}</div>
                  <div *ngIf="mission.description">
                    {{ mission.description }}
                  </div>
                  <small>
                    {{ mission.dateCreation | date: "dd/MM/yyyy HH:mm" }}
                  </small>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <img
                    class="caughtPokemonImg"
                    *ngIf="mission.status === 'done'"
                    alt="Pokémon capturé !"
                    src="https://img.icons8.com/fluency/48/000000/pokeball.png"
                  />
                  <button
                    *ngIf="mission.status === missionStatuscreated"
                    class="btn btn-primary"
                    (click)="onCompleteMissionBtnClick(mission)"
                  >
                    mission done
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
