/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import "~bootstrap/scss/bootstrap";

:root {
  --black: #1a1423;
  --primary: #f4d35e;
}

body {
  background-color: var(--black);
  color: var(--primary);
  padding: 2rem;

  font-family: "Kalam", cursive;
  font-weight: 400;
}

small {
  color: var(--myellow);
  font-size: 0.7rem;
}

.card {
  background-color: var(--black);
  border: 1px solid var(--primary);
}

.btn {
  &:disabled,
  .btn.disabled,
  fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.4;
  }
}

.btn-primary {
  background-color: var(--primary);
  border: none;
  color: var(--black);
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background-color: var(--primary);
    border-color: var(--primary);

    color: var(--black);
    box-shadow: var(--primary);
  }
}

.btn-secondary {
  background-color: transparent;
  border: var(--primary) solid 2px;
  color: var(--primary);
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background-color: transparent;
    box-shadow: var(--primary);
  }
}

.form-select {
  background-color: var(--primary);
  border: none;
  color: var(--black);
}

.list-group {
  &-item {
    background-color: var(--black);
    border-color: var(--primary);
    color: var(--primary);
  }
}

i-bs {
  margin-right: 0.5rem;
}

.form-check-input,
.form-check-input {
  border-color: var(--primary);
  height: 1.2rem;
  width: 2.5rem !important;

  &:checked {
    border-color: var(--primary);
    background-color: var(--primary);
  }
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: var(--bs-progress-bar-color);
  text-align: center;
  white-space: nowrap;
  background-color: var(--primary);
  transition: var(--bs-progress-bar-transition);
}
