<div class="pokemonListing">
  <form
    [formGroup]="form"
    *ngIf="form"
    class="container d-flex align-items-center"
  >
    <app-pokemon-types-dropdown
      formControlName="pokemonType"
    ></app-pokemon-types-dropdown>

    <div class="form-check form-switch">
      <input
        class="form-check-input ms-3"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
        formControlName="filterCaughtPokemons"
      />
      <label class="form-check-label ms-2 fs-5" for="flexSwitchCheckDefault">
        My pokemons
      </label>
    </div>
  </form>

  <div class="container mt-4">
    <div class="row mb-4">
      <div class="col-12">
        <div class="">
          <strong
            >{{ fiteredTypeCaughtPokemons }} /
            {{ filteredPokemons.length }}</strong
          >
          {{ form.get("pokemonType")?.value || "" }} caught Pokemons
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{
              width:
                (fiteredTypeCaughtPokemons * 100) / filteredPokemons.length +
                '%'
            }"
            [attr.aria-valuenow]="fiteredTypeCaughtPokemons"
            aria-valuemin="0"
            [attr.aria-valuemax]="pokemons.length"
          ></div>
        </div>
      </div>
    </div>
    <div class="row">
      <pokemon-listing-item
        class="col-12 col-md-6 col-xl-4 mb-4"
        *ngFor="let pokemon of filteredPokemons"
        [pokemon]="pokemon"
        [caughtPokemons]="caughtPokemons"
        [isAddToMissionActive]="isAddToMissionActive"
        (addPokemon)="onAddPokemon($event)"
      >
      </pokemon-listing-item>
    </div>
  </div>
</div>
