<div class="dropdown" *ngIf="pokemonTypes.length">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    --sélectionner par type
  </button>
  <ul class="dropdown-menu">
    <li *ngFor="let type of pokemonTypes">
      <a class="dropdown-item">{{ type.name }}</a>
    </li>
  </ul>
</div>

<ul class="dropdown-menu">
  <li *ngFor="let type of pokemonTypes">
    <a class="dropdown-item">{{ type.name }}</a>
  </li>
</ul>
