.card {
  // width: 300px;
  flex: none;
  margin-top: 10px;

  .card-title:first-letter {
    text-transform: uppercase;
  }

  &-text {
    height: 4rem;
  }

  img {
    height: 8rem;
    object-fit: contain;
    margin-top: 2rem;
  }
}
