.card,
.pokemonItem {
  min-width: 10rem;

  .badge {
    background-color: var(--yellow) !important;
  }
  .text-bg-warning {
    color: var(--black) !important;
  }

  &-text {
    height: 4rem;
  }

  img {
    height: 8rem;
    max-width: 8rem;
    object-fit: contain;
  }

  .caughtPokemonImg {
    margin: 0;
    height: 48px;
    width: 48px;
  }
}

.card {
  padding: 2rem;
}
