<div class="card">
  <img
    class="card-img-top"
    src="{{ pokemon.avatar }}"
    alt="{{ pokemon.name }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name }}</h5>
    <p class="card-text">{{ pokemon.description }}</p>
    <p>
      <span
        *ngFor="let type of pokemon.types; let first = first; let last = last"
      >
        <span *ngIf="pokemon.types.length > 1 && last"> / </span>
        <span>{{ type }}</span>
      </span>
    </p>
    <a
      *ngIf="!isParent"
      [routerLink]="['/pokemons', pokemon.number]"
      class="btn btn-primary"
      >Details</a
    >
    <button *ngIf="isParent" class="btn" (click)="onAddPokemonBtnClick()">
      Ajouter a la mission
    </button>
  </div>
</div>
