<div
  class="card d-flex flex-column justify-content-between"
  [ngClass]="{ card: isCard }"
>
  <img
    class="caughtPokemonImg"
    *ngIf="isCaughtPokemon"
    alt="Pokémon capturé !"
    src="https://img.icons8.com/fluency/48/000000/pokeball.png"
  />
  <h5 class="card-title">{{ pokemon.name }} n°{{ pokemon.number }}</h5>
  <img
    class="card-img-top avatar"
    src="{{ pokemon.avatar }}"
    alt="{{ pokemon.name }}"
  />

  <p class="card-text">{{ pokemon.description }}</p>
  <div class="d-flex justify-content-between">
    <p>
      <span *ngFor="let pokemonType of currentPokemonTypes">
        <i-bs
          *ngIf="pokemonType.logo"
          [ngStyle]="{ color: pokemonType.color }"
          [name]="pokemonType.logo"
        ></i-bs>
      </span>
    </p>
    <a
      *ngIf="!isAddToMissionActive"
      [routerLink]="['/pokedex', pokemon.number]"
      class="btn btn-primary"
      >Details</a
    >
    <button
      *ngIf="isAddToMissionActive"
      class="btn btn-primary"
      (click)="onAddPokemonBtnClick()"
    >
      Ajouter a la mission
    </button>
  </div>
</div>
