<div class="card">
  <img
    class="card-img-top"
    src="{{ pokemon.avatar }}"
    alt="{{ pokemon.name }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name }}</h5>
    <p class="card-text">{{ pokemon.description }}</p>
    <p>
      <span
        *ngFor="let type of pokemon.types; let first = first; let last = last"
      >
        <span *ngIf="pokemon.types.length > 1 && last"> / </span>
        <span>{{ type }}</span>
      </span>
      <i-bs name="fire"></i-bs>
      <i-bs name="flower2"></i-bs>
      <i-bs name="lightning"></i-bs>
      <i-bs name="droplet"></i-bs>
      <i-bs name="globe"></i-bs>
      <i-bs name="heart"></i-bs>
      <i-bs name="hurricane"></i-bs>
      <i-bs name="infinity"></i-bs>
      <i-bs name="magic"></i-bs>
      <i-bs name="magnet"></i-bs>
      <i-bs name="moon"></i-bs>
      <i-bs name="snow2"></i-bs>
      <i-bs name="tornado"></i-bs>
      <i-bs name="virus"></i-bs>
      <i-bs name="wifi"></i-bs>
    </p>
    <a
      *ngIf="!isParent"
      [routerLink]="['/pokedex', pokemon.number]"
      class="btn btn-primary"
      >Details</a
    >
    <button *ngIf="isParent" class="btn" (click)="onAddPokemonBtnClick()">
      Ajouter a la mission
    </button>
  </div>
</div>
