/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

:root {
  --black: #2d2a32;
  --yellow: #ddd92a;
  --myellow: #eae151;
  --blue: #8ea4d2;
  --glaucous: #6279b8;
}

body {
  background-color: var(--black);
  color: var(--yellow);
  padding: 2rem;
}

.card {
  background-color: var(--black);
  border: 1px solid var(--myellow);
}

.btn {
  background-color: var(--yellow);
  border: none;
  color: var(--black);
  &:hover,
  &:focus,
  &:active,
  &:disabled {
    background-color: var(--myellow);
    border-color: var(--myellow);

    color: var(--black);
    box-shadow: var(--myellow);
  }

  &:disabled,
  .btn.disabled,
  fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.4;
  }
}
