<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <nav>
      <button
        class="btn btn-primary me-3"
        aria-current="page"
        routerLink="/missions"
      >
        Liste des missions
      </button>
      <button
        class="btn btn-primary me-3"
        aria-current="page"
        routerLink="/missions/add"
      >
        Créer une mission
      </button>
      <button class="btn btn-primary" routerLink="/pokedex">Pokedex</button>
    </nav>
  </div>
</div>
