<ul class="list-group">
  <li class="list-group-item" *ngFor="let mission of missions">
    <h3>{{ mission.name }}</h3>
    <h4>{{ mission.description }}</h4>
    <pokemon-detail-miniature
      *ngIf="mission.rewards[0]"
      [pokemonNumber]="mission.rewards[0].number"
      >{{ mission.rewards[0].name }}</pokemon-detail-miniature
    >
    <p>
      {{ mission.status }} le {{ mission.dateCreation | date: "dd MMMM yyyy" }}
    </p>
    <button
      *ngIf="mission.status === missionStatuscreated"
      class="btn btn-primary"
      (click)="onCompleteMissionBtnClick(mission)"
    >
      Valider la mission
    </button>
  </li>
</ul>
